<%= form_for(@medhistory) do |f| %>
  <% if @medhistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medhistory.errors.count, "error") %> prohibited this medhistory from being saved:</h2>

      <ul>
      <% @medhistory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_field :history %>
  </div>
  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_field :allergies %>
  </div>
  <div class="field">
    <%= f.label :familyhistory %><br />
    <%= f.text_field :familyhistory %>
  </div>
  <div class="field">
    <%= f.label :images %><br />
    <%= f.text_field :images %>
  </div>
  <div class="field">
    <%= f.label :appointments %><br />
    <%= f.text_field :appointments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
