<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Website Name</title>

<%= stylesheet_link_tag 'home_style_sheet.css', :media => 'screen' %>

<style type="text/css">
.auto-style1 {
	text-align: right;
}
</style>
</head>

<body>
<div id="container">
	<div id="header">
		<h1>
			Profile</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><%= link_to "Home", 'pages/home'%></li>
			<li><%= link_to "Medical Record", 'record'%></li>
			<li><%= link_to "Scans/Images", 'images' %></li>
			<li><%= link_to "Doctors", 'doctors' %></li>
			<li><%= link_to "Log In/Out", 'signup' %></li>
		</ul>
	</div>
	<div id="content-container">
		<div id="section-navigation" style="height: 224px">
			<ul>
				<li><a href="#">Option 1</a></li>
				<li><a href="#">Option 2</a></li>
				<li><a href="#">Option 3</a></li>
				<li style="height: 24px"><a href="#">Option 4</a></li>
			</ul>
		</div>
		<div id="content">
			<p id="notice"><%= notice %></p>
			<table class="profile" summary="Profile Information">
				<tr>
					<td class="main">
						<h1>
							<%= @user.name %><br/><br/>
			  				<%= image_tag "blank_profile.jpg", :alt => 'Pic' %>
			  			</h1>
			  		</td>
			  		<td class="sidebar round">
			  			<strong>Name</strong> <%= @user.name %><br /">
			  			<strong>URL</strong> <%= link_to user_path(@user), @user %>
			  		</td>
				</tr>
			</table>

			<%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', users_path %>
			
			<p style="height: 18px" class="auto-style1">
				&nbsp;</p>
			
		</div>
		<div id="aside">
			<h3>
				Instructions
			</h3>
			<p>
				Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
			</p>
		</div>
		<div id="footer">
			Copyright © Site name, 2011
		</div>
	</div>
</div>
</body>

</html>


